<div class="animated fadeIn">
  <div class="row" style="margin: 3% 2% 0 2%;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add</strong> Recomendation
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Title</label>
              <div class="col-md-9">
                <input type="text" id="text-response1" name="response" class="form-control" placeholder="Title" [(ngModel)]="title">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Select Gender</label>
              <div class="col-md-9">
                <select id="select1" name="select1"  class="form-control" 
                  [(ngModel)]="gender"><!-- 
                  <option *ngFor="let cat of remove_dupli_cat ">{{cat}}</option> -->
                  <option value="0">male</option>
                  <option value="1">female</option>
                  <option value="2">men and women</option>
                  <option value="3">unspecified</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Grade</label>
              <div class="col-md-9">
                <input type="text" id="text-response2" name="response" class="form-control" placeholder="Grade" [(ngModel)]="grade">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Grade Version</label>
              <div class="col-md-9">
                <input type="number" id="text-response2" name="response" class="form-control" placeholder="Grade Version" [(ngModel)]="gradeVersion">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Risk Factor Information</label>
              <div class="col-md-9">
                <input type="text" id="text-response2" name="response" class="form-control" placeholder="Risk Factor Information" [(ngModel)]="riskFactor">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Age Range 0</label>
              <div class="col-md-9">
                <input type="number" id="text-response2" name="response" class="form-control" placeholder="Age Range 0" [(ngModel)]="ageRange0">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Age Range 1</label>
              <div class="col-md-9">
                <input type="number" id="text-response2" name="response" class="form-control" placeholder="Age Range 1" [(ngModel)]="ageRange1">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Frequency of Service</label>
              <div class="col-md-9">
                <input type="text" id="text-response2" name="response" class="form-control" placeholder="Frequency of Service" [(ngModel)]="frequency">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Recommendation</label>
              <div class="col-md-9">
                <input type="text" id="text-response2" name="response" class="form-control" placeholder="Recommendation" [(ngModel)]="recomendation">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Source</label>
              <div class="col-md-9">
                <input type="text" id="text-response2" name="response" class="form-control" placeholder="Source" [(ngModel)]="source">
              </div>
            </div>

          </form>
        
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" 
          (click)=addresponse()><i class="fa fa-dot-circle-o"></i> Add</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)=resetresponseval()><i class="fa fa-ban"></i> Reset</button>
        </div></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0 2% 0 2%;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Recomendations
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Gender</th>
                <th>Grade</th>
                <th>Grade Version</th>
                <th>Risk Factor Information</th>
                <th>Age Range0</th>
                <th>Age Range1</th>
                <th>Frequency of Service</th>
                <th>Recommendation</th>
                 <th>Source</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let users of all_responses_list[0] | paginate: { itemsPerPage: 10, currentPage: p }; index as i">

                <td>{{users['ID']}}
                </td>
                <td>
                  <textarea rows="2" cols=500 class= "editinput" type="text" [(ngModel)]="users['Title']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
                 <td>
                  <textarea rows="2" cols=50 class= "editinput" type="text" [(ngModel)]="users['Gender']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td> 
                 <td>
                  <textarea rows="2" cols=2 class= "editinput" type="text" [(ngModel)]="users['Grade']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td> 
                 <td>
                  <textarea rows="2" cols=1 class= "editinput" type="text" [(ngModel)]="users['GradeVersion']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
                <td>
                  <textarea rows="3" cols=500 class= "editinput" type="text" [(ngModel)]="users['Risk Factor Information']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
                <td>
                  <textarea rows="2" cols=2 class= "editinput" type="text" [(ngModel)]="users['AgeRange0']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td> 
                
                <td>
                  <textarea rows="2" cols=2 class= "editinput" type="text" [(ngModel)]="users['AgeRange1']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
                <td>
                  <textarea rows="3" cols=500 class= "editinput" type="text" [(ngModel)]=
                  "users['Frequency of Service']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
                <td>
                  <textarea rows="3" cols=500 class= "editinput" type="text" [(ngModel)]=
                  "users['Recomendation']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
                <td>
                  <textarea rows="3" cols=500 class= "editinput" type="text" [(ngModel)]=
                  "users['Source']" 
                  [disabled]="!users.isEditable" ></textarea>
                </td>
               
                <td>
                  <div class="col-md text-center">
                    <button type="button" class="btn btn-sm btn-ghost-success" 
                    (click)="users.isEditable=!users.isEditable" *ngIf="!users.isEditable">Edit</button>
                    <button class="btn btn-sm btn-success" *ngIf="users.isEditable" (click)="users.isEditable=editSave(users['ID'],users['Title'],users['Gender'],users['Grade'],users['GradeVersion'],users['AgeRange0'],users['AgeRange1'],users['Frequency of Service'],users['Risk Factor Information'],users['Source'],users['Recomendation'])">Save</button>
                <button type="button" class="btn btn-sm btn-ghost-danger"
              (click)="deleteResponse(users['ID'])">
              Delete
            </button>
                  </div>
                </td>
              </tr>
           
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
